<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>List News</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <!--<li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">jsGrid</li>-->
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">News</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div id="jsGrid1"></div>
        </div>
        <div class="card-footer">
            <button type="button" onclick="location.href='/admin/newsadd'" class="btn btn-primary insert">Add</button>
            <!--<button type="button" class="btn btn-primary update">削除</button>-->
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->

<script defer src="/js/db.js"></script>
<script defer src="/plugins/jsgrid/jsgrid.min.js"></script>
<link rel="stylesheet" href="/plugins/jsgrid/jsgrid.min.css">
<link rel="stylesheet" href="/plugins/jsgrid/jsgrid-theme.min.css">

<script>

    $(document).ready(function () {

        var dbx =  {{ convertJson data.product }} ;
        console.log(dbx);

    //$("#jsGrid1").jsGrid("editItem", item);

    $("#jsGrid1").jsGrid({
        height: "100%",
        width: "100%",
        sorting: true,
        paging: true,
        editing: false,
        data: dbx,
        //filtering: true,
        //---------------
        //filtering: true,
        //editing: true,
        pageSize: 7,
        //pageButtonCount: 7,

        deleteConfirm: "Do you really want to delete this record?",

        fields: [
            { name: "newid", type: "text", width: 50, title: "ID" },
            //{ name: "image", type: "text", width: 200, title: "Thumbnail" },
            { name: "title", type: "text", width: 200, title: "Title" },
            { name: "description", type: "text", width: 300, title: "Description" },
            { name: "date", type: "datetime", width: 150, title: "Date" } ,
                //{ name: "Age2", type: "number", width: 50 },
                //{ name: "Country2", type: "select", items: db.countries, valueField: "Id", textField: "Name" },
                //{ name: "Married2", type: "checkbox", title: "Is Married" }
            { type: "control", editButton: false, title: "Delete" }
            ],
            rowClick: function (idx) {
                var url = "/admin/newsdetails/" + idx.item.newid;
                console.log(url);
                window.location = "/admin/newsdetails/" + idx.item.newid;
                
            },
            onItemDeleting: function (args) {

                console.log(args.item.newid);
                $.ajax({
                    url: "/newsDelete",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({ newid: args.item.newid }),
                    success: function (msg) {
                        alert('Update Successfully');
                    },
                    error: function (request) {
                        alert('Error: ' + request.responseJSON.status.sqlMessage);
                        console.log(request);
                    }
                })
            },
            onItemDeleted: function (args) {
                alert('Deleted');
            }
        });
    });
</script>