<div class="footer-menu text-center">
    <ul>
        <li><a href="/about">会社概要</a></li>
        <li><a href="/product">取扱商品</a></li>
        <li><a href="/news">ニュース</a></li>
        <li><a href="/facility">工場・会社写真</a></li>
    </ul>
</div>
<div class="copy-right text-center">
    © 2020 Thai Hung Pro.Ltd, All rights reserved.
</div>
<div class="scroll-to-top">
    <svg><path d="M20,30 L20,10 L13,17 M20,10 L27,17" /></svg>
</div>
