<div class="header-menu">
    <div class="header-menu menu-md">
        <nav class="navigation" role="navigation">
            <ul class="primary-nav">
                <li><h2 class="section-title menu-1"><a href="/about">会社概要</a></h2></li>
                <li><h2 class="section-title"><a href="/product/1/1">取扱商品</a></h2></li>
                <li><h2 class="section-title"><a href="/news">ニュース</a></h2></li>
                <li><h2 class="section-title"><a href="/facility">工場・会社写真</a></h2></li>
            </ul>
        </nav>
        <a href="#" class="nav-toggle"><span></span></a>
    </div>
    <div class="header-logo"><a href="/"><img src="/images/page/header-logo.png"></a></div>
    <div class="menu-item md">
        <ul>
            <li class="menu-about menux"><a href="/about">会社概要</a></li>
            <li class="menu-product menux"><a href="/product/1/1">取扱商品</a></li>
            <li class="menu-news menux"><a href="/news">ニュース</a></li>
            <li class="menu-faci menux"><a href="/facility">工場・会社写真</a></li>
        </ul>
    </div>
    <div class="header-contact">
        <div class="header-tel"><span>Tel in VN: +84(0)98 601 9870</span><br/><span>Tel in JP: +84(0)94 538 1912</span></div>
        <button><a id="scroll-contact" href="#menu-contact-us">お問い合わせ</a></button>
    </div>
</div>
<style type="text/css">
    .header-tel {
        float: left;
    }
</style>
