<div class="contact-us text-center" id="menu-contact-us">
    <div class="text-container container text-center">
        <div class="title">
            <h1>お問い合わせ</h1>
            <hr class="line">
            <h3>CONTACT US</h3>
        </div>
{{!--         <div class="content">
            ThaiHungProからの質問およびサポートリクエストについては、ここに情報を残してください。 できるだけ早く確認して対応いたします。 よろしくお願いします！
        </div> --}}
    </div>
    <div class="container">
        <div class="contact-box">
            <span class="tel">HOTLINE in Vietnamese: +84(0)98-601-9870</span>
            <span class="tel">HOTLINE in Japanese: +84(0)94-538-1912</span>
            <span class="tel">HOTLINE in Japan(Japanese): +81(0)90-4735-0138</span>
            <span class="tel">Email: office@thaihungpro.vn</span>
        </div>
    </div>

    <div class="container">
        
        <div class="contact-form" style="position:relative;">
            <img src="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/images/loader-large.gif" alt="処理中..." id="gif">
            <div class="firstname">
                <div class="form-label"><span class="">社名<span class="required">*</span></span></div>
                <div class=""><input id="company" name="company" type="text"></div>
            </div>
            <div class="lastname">
                <div class="form-label"><span class="form-label">氏名<span class="required">*</span></span></div>
                <div class=""><input id="name" name="name" type="text"></div>
            </div>
            <div class="email">
                <div class="form-label"><span class="">メールアドレス<span class="required">*</span></span></div>
                <div class=""><input id="email" name="email" type="text"></div>
            </div>
            <div class="phone">
                <div class="form-label"><span class="form-label">電話番号<span class="required">*</span></span></div>
                <div class=""><input id="phone" name="phone" type="text"></div>
            </div>
            <div class="address">
                <div class="form-label"><span class="form-label">会社所在他（日本・ベトナム・その他）<span class="required">*</span></span></div>
                <div class=""><input id="country" name="country" type="text"></div>
            </div>
            <div class="contentmess">
                <div class="form-label"><span class="form-label">問い合わせ内容（ベトナム国内調達・日本への輸出・その他） <span class="required">*</span></span></div>
                <div class=""><textarea id="content" name="content"></textarea></div>
            </div>

            <div class="submit">
                {{!-- <div class="g-recaptcha captcha text-center" id="checkbox" data-sitekey="6LfTBLgZAAAAANoCWVcbTlnA318uQodVkOlrmeQi"></div> --}}
                <button class="toiawase"> 送る</button>
            </div>
        </div>
    </div>

</div>
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.931342546916!2d106.0240468149327!3d21.035432985994788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135a7bf81fd5115%3A0xd08af34b8d73b462!2zTmjDoCBtw6F5IFRow6FpIEjGsG5nIHBybw!5e0!3m2!1sen!2s!4v1594801314104!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="w-100"></iframe>   
</div>
<div class="social text-center">
    <div class="social-container">
        <div class="fb"><a href="https://www.facebook.com/thaihungpro.vn"><img src="/images/page/facebook.png"></a></div>
        <div class="fb"><a href="https://www.youtube.com/channel/UCoHv5nyjSVKXVMEpAHH25iA?fbclid=IwAR1Fhbk46YNLi8fBOt4hMUhF-siwsZ6hrW9BVS869jeX99OPgmJnrMJ7Rns"><img src="images/page/youtube.png"></a></div>
        <div class="fb"><a href="https://goo.gl/maps/PkeBQffPmAkWey3U8"><img src="/images/page/location.png"></a></div>
    </div>
</div>
