<section class="ftco-section bg-light" id="skills-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <span class="subheading">Invalid Token</span>
                <h2 class="mb-4">404</h2>
                <p>Not found</p>
            </div>
        </div>
    </div>
</section>