<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.931342546916!2d106.0240468149327!3d21.035432985994788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135a7bf81fd5115%3A0xd08af34b8d73b462!2zTmjDoCBtw6F5IFRow6FpIEjGsG5nIHBybw!5e0!3m2!1sen!2s!4v1594801314104!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="w-100"></iframe>   
</div>
<div class="social text-center">
    <div class="social-container">
        <div class="fb"><a href="https://www.facebook.com/thaihungpro.vn"><img src="/images/page/facebook.png"></a></div>
        <div class="fb"><a href="https://www.youtube.com/channel/UCoHv5nyjSVKXVMEpAHH25iA?fbclid=IwAR1Fhbk46YNLi8fBOt4hMUhF-siwsZ6hrW9BVS869jeX99OPgmJnrMJ7Rns"><img src="images/page/youtube.png"></a></div>
        <div class="fb"><a href="https://goo.gl/maps/PkeBQffPmAkWey3U8"><img src="/images/page/location.png"></a></div>
    </div>
</div>
